/* build time:Wed Aug 17 2022 10:26:21 GMT+0800 (China Standard Time)*/
.newPost-left,.newPost-right{position:absolute;top:0;color:#fff;padding:0 15px;background-color:var(--leonus-blue);border-radius:0 0 10px 10px}.newPost-left{left:15px}.newPost-right{right:15px}
/* rebuild by neat */