/* build time:Tue Aug 23 2022 17:52:05 GMT+0800 (China Standard Time)*/
#aside-content .card-tag-cloud a{border:1px solid;line-height:1.5;border-radius:6px;margin:3px;padding:0 5px}.tag-cloud-list a{border:1px solid;line-height:1.5;border-radius:6px;padding:5px 15px;font-size:1.2rem;margin:5px}
/* rebuild by neat */